body{
    font-family: more-sugar;
    color: white;
    
  --s: 222px; /* control the size*/
  --c1: #7f727b;
  --c2: #d6b4c2;
  --c3: #baa0ab;
  
  --_g: var(--c1) 10%,var(--c2) 10.5% 19%,#0000 19.5% 80.5%,var(--c2) 81% 89.5%,var(--c3) 90%;
  --_c: from -90deg at 37.5% 50%,#0000 75%;
  --_l1: linear-gradient(145deg,var(--_g));
  --_l2: linear-gradient( 35deg,var(--_g));
  background: 
    var(--_l1), var(--_l1) calc(var(--s)/2) var(--s),
    var(--_l2), var(--_l2) calc(var(--s)/2) var(--s),
    conic-gradient(var(--_c),var(--c1) 0) calc(var(--s)/8) 0,
    conic-gradient(var(--_c),var(--c3) 0) calc(var(--s)/2) 0,
    linear-gradient(90deg,var(--c3) 38%,var(--c1) 0 50%,var(--c3) 0 62%,var(--c1) 0);
  background-size: var(--s) calc(2*var(--s)/3);
}

@font-face {
    font-family: more-sugar;
    src: url(Fonte/MoreSugar-Regular.ttf);
}

h1{
    background-color: #adacb1;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
    width: 50%;
    margin-bottom: 50px;
}

span{
    color: rgb(0, 60, 255);
}

main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.first-section{
    background: linear-gradient(to right,#898686, #8789bd);
    border-radius: 30px;
    padding: 20px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    width: 20%;
    min-width: 260px;
}

.first-label, .second-label{
    background-color: #a19cb9;
    padding: 15px;
    border-radius: 23px;
}

#name-adicionar, #texttarefas{
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 23px;
    text-align: center;
    padding: 10px;
}

.second-section{
    background: linear-gradient(to right,#898686, #8789bd);
    padding: 20px;
    border-radius: 30px;
    width: 15%;
    min-width: 300px;
    height: auto;

    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
    margin-top: 50px;
}

.btn.add, .btn.edit{
    font-family: more-sugar;
    background-color: black;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;  
    transition: 0.4s ease;
}

.btn.excluir{
    font-family: more-sugar;
    background-color: black;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 12px;
    font-size: 13px;
    width: 70px;
    cursor: pointer;  
    transition: 0.4s ease;
}


.btn.add:hover, .btn.excluir:hover, .btn.edit:hover{
    background-color:  rgb(255, 255, 255);
    color: rgb(221, 111, 111);
}

.sem-tarefas {
    text-align: center;
    margin-top: 50px;
    font-size: 28px;
    color: white;
}

.lista-tarefas ul{
    max-width: 100px;
}

.lista-tarefas{
    list-style-type: none;
    gap: 15px;
    justify-content: center;
}

.item-tarefa{
    padding: 10px;
    min-width: 100px;
    max-width: 180px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.first-section p{
    font-size: 30px;
    margin-bottom: 50px;
}

input::placeholder{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: more-sugar;
}

input{
    font-family: more-sugar;
    font-size: 15px;
    color: white;
}

.alert-error{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    background-color: #f8d7da;
    color: #721c24;
    border: 2px solid #f5c6cb;
    border-radius: 5px;
    padding: 15px;
    z-index: 1000;
    max-width: 80%;
    text-align: center;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.alert-error p{
    margin: 0;
    padding-right: 10px;
}